<a href="https://colab.research.google.com/github/mg4603/Divorce-prediction/blob/master/divorce_pred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression, Perceptron
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

In [0]:
df = pd.read_csv('divorce.csv',delimiter = ';')

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 55 columns):
Atr1     170 non-null int64
Atr2     170 non-null int64
Atr3     170 non-null int64
Atr4     170 non-null int64
Atr5     170 non-null int64
Atr6     170 non-null int64
Atr7     170 non-null int64
Atr8     170 non-null int64
Atr9     170 non-null int64
Atr10    170 non-null int64
Atr11    170 non-null int64
Atr12    170 non-null int64
Atr13    170 non-null int64
Atr14    170 non-null int64
Atr15    170 non-null int64
Atr16    170 non-null int64
Atr17    170 non-null int64
Atr18    170 non-null int64
Atr19    170 non-null int64
Atr20    170 non-null int64
Atr21    170 non-null int64
Atr22    170 non-null int64
Atr23    170 non-null int64
Atr24    170 non-null int64
Atr25    170 non-null int64
Atr26    170 non-null int64
Atr27    170 non-null int64
Atr28    170 non-null int64
Atr29    170 non-null int64
Atr30    170 non-null int64
Atr31    170 non-null int64
Atr32    170 non-null int64
Atr33    170 non-null int64
Atr34    170 non-null int64
Atr35    170 non-null int64
Atr36    170 non-null int64
Atr37    170 non-null int64
Atr38    170 non-null int64
Atr39    170 non-null int64
Atr40    170 non-null int64
Atr41    170 non-null int64
Atr42    170 non-null int64
Atr43    170 non-null int64
Atr44    170 non-null int64
Atr45    170 non-null int64
Atr46    170 non-null int64
Atr47    170 non-null int64
Atr48    170 non-null int64
Atr49    170 non-null int64
Atr50    170 non-null int64
Atr51    170 non-null int64
Atr52    170 non-null int64
Atr53    170 non-null int64
Atr54    170 non-null int64
Class    170 non-null int64
dtypes: int64(55)
memory usage: 73.1 KB

In [0]:
df.describe()

             Atr1        Atr2        Atr3  ...       Atr53       Atr54       Class
count  170.000000  170.000000  170.000000  ...  170.000000  170.000000  170.000000
mean     1.776471    1.652941    1.764706  ...    2.241176    2.011765    0.494118
std      1.627257    1.468654    1.415444  ...    1.505634    1.667611    0.501442
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%      0.000000    0.000000    0.000000  ...    1.000000    0.000000    0.000000
50%      2.000000    2.000000    2.000000  ...    2.000000    2.000000    0.000000
75%      3.000000    3.000000    3.000000  ...    4.000000    4.000000    1.000000
max      4.000000    4.000000    4.000000  ...    4.000000    4.000000    1.000000

[8 rows x 55 columns]

In [0]:
df.head()

   Atr1  Atr2  Atr3  Atr4  Atr5  Atr6  ...  Atr50  Atr51  Atr52  Atr53  Atr54  Class
0     2     2     4     1     0     0  ...      3      2      3      2      1      1
1     4     4     4     4     4     0  ...      4      4      4      2      2      1
2     2     2     2     2     1     3  ...      1      1      2      2      2      1
3     3     2     3     2     3     3  ...      3      3      2      2      2      1
4     2     2     1     1     1     1  ...      2      2      2      1      0      1

[5 rows x 55 columns]

In [0]:
total = df.isnull().sum().sort_values(ascending=False)
missing_data = pd.concat([total],axis=1,keys=['# NULL values'])
missing_data

       # NULL values
Class              0
Atr14              0
Atr25              0
Atr24              0
Atr23              0
Atr22              0
Atr21              0
Atr20              0
Atr19              0
Atr18              0
Atr17              0
Atr16              0
Atr15              0
Atr13              0
Atr27              0
Atr12              0
Atr11              0
Atr10              0
Atr9               0
Atr8               0
Atr7               0
Atr6               0
Atr5               0
Atr4               0
Atr3               0
Atr2               0
Atr26              0
Atr28              0
Atr54              0
Atr42              0
Atr53              0
Atr52              0
Atr51              0
Atr50              0
Atr49              0
Atr48              0
Atr47              0
Atr46              0
Atr45              0
Atr44              0
Atr43              0
Atr41              0
Atr29              0
Atr40              0
Atr39              0
Atr38              0
Atr37              0
Atr36              0
Atr35              0
Atr34              0
Atr33              0
Atr32              0
Atr31              0
Atr30              0
Atr1               0

In [0]:
df.columns.values

array(['Atr1', 'Atr2', 'Atr3', 'Atr4', 'Atr5', 'Atr6', 'Atr7', 'Atr8',
       'Atr9', 'Atr10', 'Atr11', 'Atr12', 'Atr13', 'Atr14', 'Atr15',
       'Atr16', 'Atr17', 'Atr18', 'Atr19', 'Atr20', 'Atr21', 'Atr22',
       'Atr23', 'Atr24', 'Atr25', 'Atr26', 'Atr27', 'Atr28', 'Atr29',
       'Atr30', 'Atr31', 'Atr32', 'Atr33', 'Atr34', 'Atr35', 'Atr36',
       'Atr37', 'Atr38', 'Atr39', 'Atr40', 'Atr41', 'Atr42', 'Atr43',
       'Atr44', 'Atr45', 'Atr46', 'Atr47', 'Atr48', 'Atr49', 'Atr50',
       'Atr51', 'Atr52', 'Atr53', 'Atr54', 'Class'], dtype=object)

In [0]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [0]:
y = y.reshape(len(X),1)

In [0]:
o_enc = OneHotEncoder(categorical_features = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53])
X = o_enc.fit_transform(X).toarray()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

60-40

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.4, random_state=10)

random forest

In [0]:
r_clf = RandomForestClassifier(n_estimators=1000)
r_clf.fit(X_train,y_train)
accuracy_score(y_test,r_clf.predict(X_test))

1.0

decision tree

In [0]:
dct = DecisionTreeClassifier(random_state=0,max_depth=4)
%time dct.fit(X_train,y_train)

CPU times: user 3.08 ms, sys: 8 s, total: 3.09 ms
Wall time: 3.42 ms

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [0]:
print(accuracy_score(y_train,dct.predict(X_train)))
print(accuracy_score(y_test, dct.predict(X_test)))

1.0
0.9852941176470589

logistic regression

In [0]:
%%time
lr = LogisticRegression(penalty='l1',random_state=0)
lr.fit(X_train,y_train)

CPU times: user 3.12 ms, sys: 116 s, total: 3.23 ms
Wall time: 5.56 ms

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
print(lr.score(X_train,y_train))
print(accuracy_score(y_test, lr.predict(X_test)))

1.0
0.9852941176470589

perceptron

In [0]:
percept = Perceptron(random_state=0)
%time percept.fit(X_train,y_train)
print(percept.score(X_train,y_train))
print(percept.score(X_test,y_test))

CPU times: user 1.65 ms, sys: 68 s, total: 1.72 ms
Wall time: 2.38 ms
1.0
1.0

nn

In [0]:
%%time
nn = Sequential()
nn.add(Dense(128, activation='relu',kernel_initializer='random_normal'))
nn.add(Dense(128, activation='relu',kernel_initializer='random_normal'))
nn.add(Dense(1,activation='sigmoid',kernel_initializer='random_normal'))
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
102/102 [==============================] - 0s 3ms/step - loss: 0.6614 - acc: 0.8039
Epoch 2/10
102/102 [==============================] - 0s 167us/step - loss: 0.5339 - acc: 0.9608
Epoch 3/10
102/102 [==============================] - 0s 177us/step - loss: 0.3918 - acc: 0.9608
Epoch 4/10
102/102 [==============================] - 0s 147us/step - loss: 0.2490 - acc: 0.9608
Epoch 5/10
102/102 [==============================] - 0s 149us/step - loss: 0.1473 - acc: 0.9608
Epoch 6/10
102/102 [==============================] - 0s 134us/step - loss: 0.0995 - acc: 0.9608
Epoch 7/10
102/102 [==============================] - 0s 156us/step - loss: 0.0759 - acc: 0.9608
Epoch 8/10
102/102 [==============================] - 0s 136us/step - loss: 0.0485 - acc: 0.9706
Epoch 9/10
102/102 [==============================] - 0s 111us/step - loss: 0.0309 - acc: 0.9902
Epoch 10/10
102/102 [==============================] - 0s 135us/step - loss: 0.0180 - acc: 1.0000
CPU times: user 826 ms, sys: 11.2 ms, total: 837 ms
Wall time: 816 ms

In [0]:
y_pred_train = []
for i in nn.predict(X_train):
  y_pred_train.append([round(i[0],0)])

y_pred_test = []
for i in nn.predict(X_test):
  y_pred_test.append([round(i[0],0)])

In [0]:
print(accuracy_score(y_train, y_pred_train))
print(accuracy_score(y_test, y_pred_test))

1.0
1.0

70-30

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.3, random_state=10)

random forest

In [0]:
r_clf = RandomForestClassifier(n_estimators=1000)
r_clf.fit(X_train,y_train)
accuracy_score(y_test,r_clf.predict(X_test))

1.0

decision tree

In [0]:
dct = DecisionTreeClassifier(random_state=0,max_depth=4)
%time dct.fit(X_train,y_train)

CPU times: user 2.8 ms, sys: 192 s, total: 2.99 ms
Wall time: 2.38 ms

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [0]:
print(accuracy_score(y_train,dct.predict(X_train)))
print(accuracy_score(y_test, dct.predict(X_test)))

1.0
0.9803921568627451

logistic regression

In [0]:
%%time
lr = LogisticRegression(penalty='l1',random_state=0)
lr.fit(X_train,y_train)

CPU times: user 2.61 ms, sys: 1.07 ms, total: 3.67 ms
Wall time: 5.21 ms

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
print(lr.score(X_train,y_train))
print(accuracy_score(y_test, lr.predict(X_test)))

1.0
1.0

perceptron

In [0]:
percept = Perceptron(random_state=0)
%time percept.fit(X_train,y_train)
print(percept.score(X_train,y_train))
print(percept.score(X_test,y_test))

CPU times: user 1.82 ms, sys: 982 s, total: 2.8 ms
Wall time: 2.54 ms
1.0
1.0

nn

In [0]:
%%time
nn = Sequential()
nn.add(Dense(128, activation='relu',kernel_initializer='random_normal'))
nn.add(Dense(128, activation='relu',kernel_initializer='random_normal'))
nn.add(Dense(1,activation='sigmoid',kernel_initializer='random_normal'))
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
119/119 [==============================] - 0s 3ms/step - loss: 0.6572 - acc: 0.7899
Epoch 2/10
119/119 [==============================] - 0s 160us/step - loss: 0.5301 - acc: 0.9664
Epoch 3/10
119/119 [==============================] - 0s 170us/step - loss: 0.3752 - acc: 0.9664
Epoch 4/10
119/119 [==============================] - 0s 150us/step - loss: 0.2229 - acc: 0.9664
Epoch 5/10
119/119 [==============================] - 0s 137us/step - loss: 0.1193 - acc: 0.9664
Epoch 6/10
119/119 [==============================] - 0s 130us/step - loss: 0.0693 - acc: 0.9664
Epoch 7/10
119/119 [==============================] - 0s 175us/step - loss: 0.0450 - acc: 0.9832
Epoch 8/10
119/119 [==============================] - 0s 171us/step - loss: 0.0260 - acc: 0.9916
Epoch 9/10
119/119 [==============================] - 0s 140us/step - loss: 0.0145 - acc: 1.0000
Epoch 10/10
119/119 [==============================] - 0s 137us/step - loss: 0.0077 - acc: 1.0000
CPU times: user 832 ms, sys: 26.7 ms, total: 859 ms
Wall time: 880 ms

In [0]:
y_pred_train = []
for i in nn.predict(X_train):
  y_pred_train.append([round(i[0],0)])

y_pred_test = []
for i in nn.predict(X_test):
  y_pred_test.append([round(i[0],0)])

In [0]:
print(accuracy_score(y_train, y_pred_train))
print(accuracy_score(y_test, y_pred_test))

1.0
1.0

80-20

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.2, random_state=10)

random forest

In [0]:
r_clf = RandomForestClassifier(n_estimators=1000)
r_clf.fit(X_train,y_train)
accuracy_score(y_test,r_clf.predict(X_test))

1.0

decision tree

In [0]:
dct = DecisionTreeClassifier(random_state=0,max_depth=4)
%time dct.fit(X_train,y_train)

CPU times: user 2.32 ms, sys: 0 ns, total: 2.32 ms
Wall time: 3.33 ms

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [0]:
print(accuracy_score(y_train,dct.predict(X_train)))
print(accuracy_score(y_test, dct.predict(X_test)))

1.0
0.9705882352941176

logistic regression

In [0]:
%%time
lr = LogisticRegression(penalty='l1',random_state=0)
lr.fit(X_train,y_train)

CPU times: user 2.89 ms, sys: 882 s, total: 3.77 ms
Wall time: 5.17 ms

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [0]:
print(lr.score(X_train,y_train))
print(accuracy_score(y_test, lr.predict(X_test)))

1.0
1.0

perceptron

In [0]:
percept = Perceptron(random_state=0)
%time percept.fit(X_train,y_train)
print(percept.score(X_train,y_train))
print(percept.score(X_test,y_test))

CPU times: user 3.28 ms, sys: 924 s, total: 4.21 ms
Wall time: 7.14 ms
1.0
1.0

nn

In [0]:
%%time
nn = Sequential()
nn.add(Dense(128, activation='relu',kernel_initializer='random_normal'))
nn.add(Dense(128, activation='relu',kernel_initializer='random_normal'))
nn.add(Dense(1,activation='sigmoid',kernel_initializer='random_normal'))
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
nn.fit(X_train,y_train,epochs=10)

Epoch 1/10
136/136 [==============================] - 0s 3ms/step - loss: 0.6520 - acc: 0.8824
Epoch 2/10
136/136 [==============================] - 0s 105us/step - loss: 0.4978 - acc: 0.9706
Epoch 3/10
136/136 [==============================] - 0s 115us/step - loss: 0.3005 - acc: 0.9706
Epoch 4/10
136/136 [==============================] - 0s 106us/step - loss: 0.1457 - acc: 0.9706
Epoch 5/10
136/136 [==============================] - 0s 97us/step - loss: 0.0729 - acc: 0.9706
Epoch 6/10
136/136 [==============================] - 0s 96us/step - loss: 0.0379 - acc: 0.9706
Epoch 7/10
136/136 [==============================] - 0s 100us/step - loss: 0.0188 - acc: 0.9926
Epoch 8/10
136/136 [==============================] - 0s 92us/step - loss: 0.0107 - acc: 1.0000
Epoch 9/10
136/136 [==============================] - 0s 99us/step - loss: 0.0050 - acc: 1.0000
Epoch 10/10
136/136 [==============================] - 0s 101us/step - loss: 0.0028 - acc: 1.0000
CPU times: user 821 ms, sys: 16.5 ms, total: 838 ms
Wall time: 838 ms

In [0]:
y_pred_train = []
for i in nn.predict(X_train):
  y_pred_train.append([round(i[0],0)])

y_pred_test = []
for i in nn.predict(X_test):
  y_pred_test.append([round(i[0],0)])

In [0]:
print(accuracy_score(y_train, y_pred_train))
print(accuracy_score(y_test, y_pred_test))

1.0
1.0